@use '../../variables' as *;

.page-creation {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__cards {
    gap: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    .card {
      &.left {

      }
      &.right {
        width: 300px;
      }

      .dual-group {
        display: flex;
        gap: 1em;
        
        & > * {
          flex-grow: 1;
        }
      }
    }
  }
}