@use 'fonts' as *;
@use 'variables' as *;

body {
  font-family: $font-primary;
  background-color: $color-background;
  margin: 0;
  height: 100vh;

  .front {
    a, a:visited {
      color: #FFF;
    }
  }

}
