@use "./../variables" as *;
@use "./../functions" as *;

.front {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    min-width: 230px;

    input {
      width: 100%;

      &[type="submit"] {
        margin-top: .5em;
      }
    }

    .textarea-comment {
      width: 100%;
      height: 100px;
      resize: none;
    }

    .error {
      padding: .5rem 1rem;
      background-color: $color-front-danger;
      border-radius: .25rem;
      color: $color-white;
      font-size: .8rem;
      font-weight: 500;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.back {
  form {
    .actions {
      display: flex;
      justify-content: flex-end;
    }

    .group-title {
      text-transform: uppercase;
      font-size: em(14);
      color: $color-text-secondary;
      width: 100%;
      padding-bottom: em(8);
      border-bottom: 1px solid $color-text-secondary;
      margin-top: em(8);
    }

    .input-label-group.left-padding {
      padding-left: 2em;
    }

    .media-selector {
      display: flex;
      align-items: center;
      gap: .5em;
      width: 100%;
      margin-top: em(8);
      width: 100%;

      &__select {
        flex-grow: 1;
      }

      &__preview {
        max-width: 150px;
      }
    }
  }
}