@use '../variables' as *;
@use '../functions' as *;

.front {
  .form {
    .input {
      padding: em(8);
      border-radius: em(4);
      background: $color-white;
      border: 1px solid $color-border-dark;
      font-size: em(14);
      box-sizing: border-box;
    }
  }
}

.back {
  form {
    .input {
      box-sizing: border-box;
      display: flex;
      padding: 8px 12px;
      min-width: 300px;
      background: $color-white;
      border: 1px solid $color-border-dark;
      border-radius: 4px;
    }
  }
}
