@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /* colors */
/* shadows */
/* element sizes */
/* border radiuses */
body {
  font-family: "Roboto", sans-serif;
  background-color: #F8FAFC;
  margin: 0;
  height: 100vh;
}
body a, body a:visited {
  color: #FFF;
}

body.back {
  display: flex;
}
body.back main {
  box-sizing: border-box;
  padding: 2rem;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  width: calc(100vw - 250px);
}
body.back main h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #0F172A;
  margin-bottom: 2rem;
}
body.back main h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0F172A;
}
body.back main p.subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #666687;
}
body.back main .action-buttons {
  position: absolute;
  top: 2rem;
  right: 2em;
}
body div.front {
  min-height: calc(100vh - 5.1875em);
  background-color: #F8FAFC;
  background-image: url("/assets/home-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #EDF6F9;
}
body div.front .logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 2em 4em;
  background-color: #2C2C2C;
  margin-bottom: 4em;
}
body div.front .user-actions {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
body div.front main {
  margin-top: 225px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: #2C2C2C;
  padding: 2em 4em;
  width: 60vw;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.back .button {
  all: unset;
  display: flex;
  font-size: 0.75em;
  font-weight: 500;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  color: #ffffff;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}
.back .button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.back .button:hover {
  cursor: pointer;
}
.back .button--big {
  padding: 0.875em 1.125em;
  font-size: 1rem;
}
.back .button--primary {
  border: 1px solid #EDF6FF;
  background-color: #006ACB;
  outline-color: #006ACB;
}
.back .button--primary:hover {
  background-color: #0085fe;
}
.back .button--primary:active {
  background-color: #818cf8;
}
.back .button--secondary {
  background-color: #1e293b;
  outline-color: #1e293b;
}
.back .button--secondary:hover {
  background-color: #0F172A;
}
.back .button--secondary:active {
  background-color: #334155;
}
.back .button--warning {
  background-color: #f97316;
  outline-color: #f97316;
}
.back .button--warning:hover {
  background-color: #ea580c;
}
.back .button--warning:active {
  background-color: #fb923c;
}
.back .button--danger {
  background-color: #f43f5e;
  outline-color: #f43f5e;
}
.back .button--danger:hover {
  background-color: #e11d48;
}
.back .button--danger:active {
  background-color: #fb7185;
}
.back .button--success {
  background-color: #10b981;
  outline-color: #10b981;
}
.back .button--success:hover {
  background-color: #059669;
}
.back .button--success:active {
  background-color: #34d399;
}

.front .button, .front input[type=submit].button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.375em 0.75em;
  font-size: 0.8em;
}
.front .button--big, .front input[type=submit].button--big {
  padding: 0.625em 1.375em;
  font-size: 1em;
}
.front .button--primary, .front input[type=submit].button--primary {
  background-color: #2C2C2C;
  color: #ffffff;
  border: 2px solid #2C2C2C;
}
.front .button--primary:hover, .front input[type=submit].button--primary:hover {
  border: 2px solid #EDF6F9;
}
.front .button--secondary, .front input[type=submit].button--secondary {
  background-color: #EDF6F9;
  color: #000000;
  border: 2px solid #EDF6F9;
}
.front .button--secondary:hover, .front input[type=submit].button--secondary:hover {
  border: 2px solid #2C2C2C;
}

.inline-button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  font-weight: bold;
  color: #006ACB;
}
.inline-button__icon {
  background: #EDF6FF;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 0.5em;
}
.inline-button:hover {
  text-decoration: underline;
}

.front .form .input {
  padding: 0.5em;
  border-radius: 0.25em;
  background: #ffffff;
  border: 1px solid #C0C8D2;
  font-size: 0.875em;
  box-sizing: border-box;
}

.back form .input {
  box-sizing: border-box;
  display: flex;
  padding: 8px 12px;
  min-width: 300px;
  background: #ffffff;
  border: 1px solid #C0C8D2;
  border-radius: 4px;
}

.back form label {
  font-weight: 400;
  font-size: 0.8125em;
}
.back form .input-label-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.back form select {
  box-sizing: border-box;
  display: flex;
  padding: 8px 12px;
  min-width: 300px;
  background: #ffffff;
  border: 1px solid #C0C8D2;
  border-radius: 4px;
}

a.link {
  font-size: 15px;
  text-decoration: unset;
  color: #006ACB;
}
a.link--icon {
  display: flex;
  gap: 0.5em;
  text-transform: uppercase;
  align-items: center;
  width: fit-content;
}
a.link:hover {
  text-decoration: underline;
}
a.link:visited {
  color: #006ACB;
}

.stat-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1em;
}
.stat-card__stat {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.stat-card__stat__title {
  font-size: 1rem;
  color: #666687;
}
.stat-card__stat__number {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0F172A;
}
.stat-card__top {
  display: flex;
  gap: 0.5em;
}
.stat-card__top__icon-container {
  display: flex;
  background: none;
  height: fit-content;
  padding: 8px;
  border-radius: 4px;
}
.stat-card__top__icon-container__icon {
  width: 32px;
  height: 32px;
}
.stat-card__top__icon-container__icon > path {
  fill: #0F172A;
}
.stat-card__bottom {
  display: flex;
  gap: 0.5em;
}

.chart-card {
  display: flex;
  flex-direction: row;
  gap: 0.625em;
  padding: 1em;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}
.chart-card__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}
.chart-card__desc__name {
  font-weight: 300;
  font-size: 1em;
  color: #64748B;
  margin-bottom: 0.5em;
}
.chart-card__desc__data {
  display: flex;
  flex-direction: row;
}
.chart-card__desc__data__number {
  font-weight: 700;
  font-size: 1.25em;
  margin-right: 1em;
}
.chart-card__desc__data__trend {
  font-size: 0.75em;
  font-weight: 700;
  padding: 0.25em 0.5em;
  border-radius: 2em;
  max-width: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chart-card__desc__data__trend__success {
  color: #10b981;
  background-color: #d1fae5;
}
.chart-card__desc__data__trend__danger {
  color: #f43f5e;
  background-color: #ffe4e6;
}
.chart-card__desc__data__trend__icon {
  margin-left: 0.25em;
  width: 0.875em;
  height: 0.875em;
}
.chart-card__desc__data__trend__icon__trend-up {
  fill: #10b981;
}
.chart-card__desc__data__trend__icon__trend-down {
  fill: #f43f5e;
}
.chart-card__chart {
  width: 12.1875em;
}

.section-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #64748B;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #64748B;
}

.card {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  padding: 1em;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
}
.card__actions {
  display: flex;
  justify-content: flex-end;
}

.status {
  display: flex;
  justify-content: space-between;
}
.status__title {
  font-weight: 500;
  font-size: 0.875em;
}
.status__value {
  font-size: 0.875em;
}

.slot {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.slot--small {
  max-width: 13.75em;
}
.slot__title {
  font-size: 0.75em;
}
.input-image {
  border: 1px solid #C0C8D2;
  border-radius: 0.25em;
  background: #EDF6FF;
  height: 7.8125em;
  width: 25em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}
.input-image__text {
  font-size: 0.75em;
  color: #64748B;
}

.front .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  min-width: 230px;
}
.front .form input {
  width: 100%;
}
.front .form input[type=submit] {
  margin-top: 0.5em;
}
.front .form .error {
  padding: 0.5rem 1rem;
  background-color: #FF1B1C;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.back form .actions {
  display: flex;
  justify-content: flex-end;
}
.back form .group-title {
  text-transform: uppercase;
  font-size: 0.875em;
  color: #64748B;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #64748B;
  margin-top: 0.5em;
}
.back form .input-label-group.left-padding {
  padding-left: 2em;
}
.back form .media-selector {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  width: 100%;
}
.back form .media-selector__select {
  flex-grow: 1;
}
.back form .media-selector__preview {
  max-width: 150px;
}

.front-footer {
  padding: 2em;
  position: absolute;
  width: 100%;
  background-color: #2C2C2C;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.front-footer__item {
  margin-right: 1em;
  color: #ffffff;
  text-decoration: none;
}
.front-footer__item:last-child {
  margin-right: 0;
}
.front-footer__item:visited {
  color: #ffffff;
}
.front-footer__item:hover {
  color: #c6ced0;
}

.wk_sidebar {
  height: 100vh;
  width: 250px;
  background-color: #0F172A;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.wk_sidebar__container {
  display: flex;
  flex-direction: column;
}
.wk_sidebar__container__logo-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 1em;
  height: 70px;
  background: #006ACB;
}
.wk_sidebar__container__logo-container__home-link {
  width: 100%;
}
.wk_sidebar__container__logo-container__logo {
  fill: #ffffff;
  max-width: 75%;
  height: 2em;
}
.wk_sidebar__container__navigation {
  padding: 0 0.5rem;
  margin-top: 0.625rem;
}
.wk_sidebar__container__navigation__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.wk_sidebar__container__navigation__section__title {
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-size: 0.688rem;
  font-weight: 600;
}
.wk_sidebar__container__navigation__section__item {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 0.25rem;
  margin-bottom: 2px;
  transition: all 0.2s ease-in-out;
}
.wk_sidebar__container__navigation__section__item:hover {
  background-color: #334155;
}
.wk_sidebar__container__navigation__section__item--selected {
  background-color: #334155;
}
.wk_sidebar__container__navigation__section__item__icon {
  max-width: 1.125rem;
  max-height: 1.125rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.wk_sidebar__container__navigation__section__item:visited {
  color: #ffffff;
}
.wk_sidebar__footer {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: auto;
  margin-bottom: 1rem;
}
.wk_sidebar__footer__avatar {
  margin-right: 0.5rem;
  border-radius: 3.875rem;
  width: 2rem;
  height: 2rem;
}
.wk_sidebar__footer__username {
  font-size: 0.875rem;
}
.wk_sidebar__footer__icon {
  cursor: pointer;
  margin-left: auto;
  color: #ffffff;
}
.wk_sidebar__footer__icon:visited {
  color: #ffffff;
}

.container-table {
  border: 0.0625em solid #D5E0F0;
  border-radius: 0.3125em;
  overflow-x: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container-table__table {
  width: 100%;
  border-collapse: collapse;
}
.container-table__table__header {
  background-color: #F1F5F9;
}
.container-table__table__header__tr {
  border-width: 0.0625em 0;
}
.container-table__table__header__tr__th {
  text-align: left;
  font-size: 0.75em;
  font-weight: 300;
  padding: 0.5em 0.75em;
}
.container-table__table__header__tr__th__icon {
  vertical-align: middle;
  margin-left: 0.5em;
  cursor: pointer;
}
.container-table__table__body {
  border-collapse: collapse;
  border-spacing: 0 0.0625em;
}
.container-table__table__body__tr {
  border: solid #D5E0F0;
  border-width: 0.0625em 0;
}
.container-table__table__body__tr__td {
  text-align: left;
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em 0.75em;
}
.container-table__table__body__tr__td__dropdown {
  width: 1em;
  height: 1em;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.container-table__table__body__tr:last-child {
  border: none;
}

.page-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-selector__item {
  margin-right: 0.75em;
  cursor: pointer;
}
.page-selector__icon {
  width: 1em;
  height: 1em;
}
.page-selector__number {
  font-size: 0.875em;
}
.page-selector__input {
  padding: 0;
  width: 2em;
  height: 2em;
  text-align: center;
}

.dashboard .btn-container {
  display: flex;
  flex-direction: row;
}
.dashboard .btn-container a {
  width: fit-content;
  margin: 0 0.5em 1em 0;
}
.dashboard .cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagemanager > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.pagemanager > main .cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.pagemanager > main .cards .card {
  background: #ffffff;
  border: 1px solid #D5E0F0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.pagemanager > main .cards .card.left {
  flex-grow: 1;
}
.pagemanager > main .cards .card.right {
  width: 300px;
}
.pagemanager > main .cards .card .dual-group {
  display: flex;
  gap: 1em;
  max-width: 100%;
}
.pagemanager > main .cards .card .dual-group > * {
  width: calc(50% - 8px);
}
.pagemanager > main__section {
  padding-left: em(32);
  display: flex;
  flex-direction: column;
  gap: em(10);
}

.pages-list {
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.pages-list__header {
  display: flex;
  justify-content: space-between;
}

.articlemanager > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.articlemanager > main .cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.articlemanager > main .cards .card {
  background: #ffffff;
  border: 1px solid #D5E0F0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.articlemanager > main .cards .card.left {
  flex-grow: 1;
}
.articlemanager > main .cards .card.right {
  width: 300px;
}
.articlemanager > main .cards .card .dual-group {
  display: flex;
  gap: 1em;
  max-width: 100%;
}
.articlemanager > main .cards .card .dual-group > * {
  width: calc(50% - 8px);
}
.articlemanager > main__section {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.articles {
  width: 100%;
}
.articles__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.articles__list__item {
  color: #EDF6F9;
  text-decoration: none;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.5em;
  grid-template-areas: "image title" "image creation_date" "image content";
}
.articles__list__item h3, .articles__list__item p, .articles__list__item span {
  color: #EDF6F9;
}
.articles__list__item:hover .articles__list__item__title {
  text-decoration: underline;
}
.articles__list__item:hover .articles__list__item__image {
  filter: brightness(0.8);
}
.articles__list__item__image {
  grid-area: image;
  width: 100%;
  height: auto;
}
.articles__list__item__title {
  grid-area: title;
  margin: 0;
}
.articles__list__item__creation-infos {
  grid-area: creation_date;
  font-size: 0.75em;
}
.articles__list__item__content {
  grid-area: content;
}

.back.mediaslist .media-list__item {
  height: 400px;
  width: fit-content;
}
.back.mediaslist .media-list__item img {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: auto;
  height: calc(100% - 70px);
}
.back.mediaslist .media-list__item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.back.mediaslist .media-list__item__info__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

.usermanager > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.usermanager > main .cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.usermanager > main .cards .card {
  background: #ffffff;
  border: 1px solid #D5E0F0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.usermanager > main .cards .card.left {
  flex-grow: 1;
}
.usermanager > main .cards .card.right {
  width: 300px;
}
.usermanager > main .cards .card .dual-group {
  display: flex;
  gap: 1em;
  max-width: 100%;
}
.usermanager > main .cards .card .dual-group > * {
  width: calc(50% - 8px);
}
.usermanager > main__section {
  padding-left: em(32);
  display: flex;
  flex-direction: column;
  gap: em(10);
}

.front.home .username {
  font-size: 2em;
  font-weight: bold;
}
.front.home .question {
  font-size: 1.5em;
  font-weight: 500;
}
.front.home .search {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.front.home .search input {
  width: 300px;
  font-size: 1em;
}

.front.article img {
  width: 100%;
  height: auto;
}
.front.article .end {
  font-size: 0.875em;
}
.front.article h4 {
  font-weight: 300;
  color: #c6ced0;
}

/*# sourceMappingURL=index.css.map */
